Repository 777-pedia/777-pedia, pull requests merged in 2025-09, with the labels that each got.

#28 chore: create entity
  src/main/java/org/example/pedia_777/common/entity/BaseTimeEntity.java
  src/main/java/org/example/pedia_777/domain/heart/entity/Hearts.java
  src/main/java/org/example/pedia_777/domain/like/entity/Likes.java
  src/main/java/org/example/pedia_777/domain/member/entity/Members.java
  src/main/java/org/example/pedia_777/domain/movie/entity/Movies.java
  src/main/java/org/example/pedia_777/domain/review/entity/Review.java
  src/main/java/org/example/pedia_777/domain/searchhistory/entity/SearchHistory.java
Labels: 🧹 chore

#35 fix: 전역 예외 처리 어노테이션 코드 수정
  src/main/java/org/example/pedia_777/common/exception/GlobalExceptionHandler.java
Labels: 🐛 bug

#40 feat: 영화 조회 메서드 구현
  src/main/java/org/example/pedia_777/common/code/ErrorCode.java
  src/main/java/org/example/pedia_777/domain/movie/entity/Movies.java
  src/main/java/org/example/pedia_777/domain/movie/repository/MovieRepository.java
  src/main/java/org/example/pedia_777/domain/movie/service/MovieService.java
  src/main/java/org/example/pedia_777/domain/movie/service/MovieServiceApi.java
  src/test/java/org/example/pedia_777/domain/movie/service/MovieServiceTest.java
Labels: ✨ feat, 🎞 Movie

#42 feat: member 조회 메서드 기능 구현
  src/main/java/org/example/pedia_777/common/code/ErrorCode.java
  src/main/java/org/example/pedia_777/common/config/JwtAuthenticationFilter.java
  src/main/java/org/example/pedia_777/common/config/JwtAuthenticationToken.java
  src/main/java/org/example/pedia_777/common/dto/AuthMember.java
  src/main/java/org/example/pedia_777/domain/member/service/MemberService.java
  src/main/java/org/example/pedia_777/domain/member/service/MemberServiceApi.java
Labels: ✨ feat, 👨‍👨‍👧‍👧 Member

#44 feat: 로그인 기능 구현
  src/main/java/org/example/pedia_777/common/code/ErrorCode.java
  src/main/java/org/example/pedia_777/common/code/SuccessCode.java
  src/main/java/org/example/pedia_777/domain/member/controller/MemberController.java
  src/main/java/org/example/pedia_777/domain/member/dto/request/MemberLoginRequest.java
  src/main/java/org/example/pedia_777/domain/member/dto/response/MemberLoginResponse.java
  src/main/java/org/example/pedia_777/domain/member/repository/MemberRepository.java
  src/main/java/org/example/pedia_777/domain/member/service/MemberService.java
  src/main/java/org/example/pedia_777/domain/member/service/MemberServiceApi.java
  src/test/java/org/example/pedia_777/domain/member/service/MemberServiceTest.java
Labels: ✨ feat, 👨‍👨‍👧‍👧 Member

#53 test: member 로그인 및 회원가입 테스트 구현
  src/main/java/org/example/pedia_777/domain/member/dto/request/MemberLoginRequest.java
  src/main/java/org/example/pedia_777/domain/member/dto/request/MemberRequest.java
  src/test/java/org/example/pedia_777/domain/member/dto/request/MemberLoginRequestTest.java
  src/test/java/org/example/pedia_777/domain/member/dto/request/MemberRequestTest.java
  src/test/java/org/example/pedia_777/domain/member/service/MemberServiceTest.java
Labels: ✅ test, 👨‍👨‍👧‍👧 Member

#57 feat:리뷰 좋아요 해제
  src/main/java/org/example/pedia_777/domain/like/controller/LikeController.java
  src/main/java/org/example/pedia_777/domain/like/repository/LikeRepository.java
  src/main/java/org/example/pedia_777/domain/like/service/LikeService.java
  src/test/java/org/example/pedia_777/domain/like/service/LikeServiceTest.java
Labels: ✅ test, ✨ feat, 👍🏻 Like

#58 feat: 영화 찜 해제 기능 구현 및 테스트 코드 작성
  src/main/java/org/example/pedia_777/domain/favorite/code/FavoriteErrorCode.java
  src/main/java/org/example/pedia_777/domain/favorite/controller/FavoriteController.java
  src/main/java/org/example/pedia_777/domain/favorite/dto/response/FavoriteAddResponse.java
  src/main/java/org/example/pedia_777/domain/favorite/service/FavoriteService.java
  src/test/java/org/example/pedia_777/domain/favorite/service/FavoriteServiceTest.java
Labels: ✅ test, ✨ feat, ❤ Heart

#77 refactor: 서비스로 정렬 로직 위치 변경
  src/main/java/org/example/pedia_777/domain/like/controller/LikeController.java
  src/main/java/org/example/pedia_777/domain/like/service/LikeService.java
Labels: ♻️ refactor, 👍🏻 Like

#80 test: 좋아요를 누른 리뷰조회 관련 테스트코드 작성 및 메서드명 직관적으로 변경
  src/test/java/org/example/pedia_777/domain/like/service/LikeServiceTest.java
Labels: ✅ test, 👍🏻 Like

#81 feat: 영화 검색 API v2
  build.gradle
  src/main/java/org/example/pedia_777/common/config/CacheConfig.java
  src/main/java/org/example/pedia_777/common/config/CacheType.java
  src/main/java/org/example/pedia_777/domain/movie/repository/MovieRepository.java
  src/main/java/org/example/pedia_777/domain/movie/service/MovieService.java
  src/main/java/org/example/pedia_777/domain/search/controller/SearchController.java
  src/main/java/org/example/pedia_777/domain/search/service/SearchService.java
  src/test/java/org/example/pedia_777/domain/search/service/SearchServicePerformanceTest.java
Labels: ✨ feat, 🏸 Search

#89 feat: 영화 검색어 조회 v3 (v2 with Redis) API 구현 및 인기 검색어 Top 10 목록의 대상만 캐시하도록 구현
  src/main/java/org/example/pedia_777/common/config/CacheConfig.java
  src/main/java/org/example/pedia_777/common/config/CacheType.java
  src/main/java/org/example/pedia_777/domain/movie/entity/Movie.java
  src/main/java/org/example/pedia_777/domain/movie/repository/MovieRepository.java
  src/main/java/org/example/pedia_777/domain/movie/repository/MovieSearchRepository.java
  src/main/java/org/example/pedia_777/domain/movie/repository/MovieSearchRepositoryImpl.java
  src/main/java/org/example/pedia_777/domain/movie/service/MovieService.java
  src/main/java/org/example/pedia_777/domain/search/controller/SearchController.java
  src/main/java/org/example/pedia_777/domain/search/entity/PopularType.java
  src/main/java/org/example/pedia_777/domain/search/service/PopularSearchService.java
  src/main/java/org/example/pedia_777/domain/search/service/SearchCacheService.java
  src/main/java/org/example/pedia_777/domain/search/service/SearchService.java
Labels: ✨ feat, 🏸 Search

#108 refactor: 엔티티 생성자 및 빌더 접근 제어 리팩토링 적용
  src/main/java/org/example/pedia_777/domain/favorite/entity/Favorite.java
  src/main/java/org/example/pedia_777/domain/like/entity/Like.java
  src/main/java/org/example/pedia_777/domain/member/entity/Member.java
  src/main/java/org/example/pedia_777/domain/movie/entity/Movie.java
  src/main/java/org/example/pedia_777/domain/review/entity/Review.java
Labels: ♻️ refactor, 👨‍👨‍👧‍👧 Member, 👍🏻 Like, 💬 Review, ❤ Favorite, 🎞 Movie
